[Unit]
Description=A simple proxy for Plex and Tvheadend
After=syslog.target network.target tvheadend.service

[Service]
Environment=
WorkingDirectory=/srv/home/hts/tvhProxy/
ExecStart=/home/hts/tvhProxy/tvhProxy.sh
Restart=always

[Install]
WantedBy=multi-user.target
